# Dependências
node_modules/
.pnpm-store/

# Build
dist/
.next/
.turbo/
out/
build/

# Ambiente — NUNCA versionado
.env
.env.*
!.env.example

# Prisma
packages/db/prisma/migrations/*.dev.db

# Uploads locais
uploads/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# Cobertura de testes
coverage/
.nyc_output/

# Playwright
test-results/
playwright-report/

# IDE
.vscode/settings.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
